* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: serif;
  list-style: none;
  text-decoration: none;
}

/*HEADER Y MENU DE NAVEGACION*/

header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
}

.logo {
  width: 70px;
  height: auto;
}

.navlist {
  display: flex;
}

.navlist a {
  color: black;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}

.navlist a:hover {
  border-bottom: 2px solid white;
}
.navlist a.active {
  background: #43a1d5;
  border-radius: 25px;
  padding: 10px;
}

#menu-icon {
  color: black;
  font-size: 55px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

/*SECTION MESSI*/

.messi {
  height: 100%;
  width: 100%;
  min-width: 100vh;
  background: linear-gradient(245.59deg, #111 0%, #aaa 28.53%, #fff 72.52%);
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

section {
  padding: 0 19%;
}

.messi-text {
  padding: 150px 0 75px;
}

.messi-text h1 {
  font-family: "Gravitas One", serif;
  font-size: 90px;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  color: black;
  margin: 0 0 45px;
}

.messi-text h4 {
  font-size: 18px;
  font-weight: 600;
  color: #43a1d5;
  margin-bottom: 10px;
}

.messi-text p {
  color: black;
  font-size: 15px;
  line-height: 1.9;
  margin-bottom: 40px;
}

.messi-img img {
  width: 700px;
  height: auto;
}

.messi-text a {
  display: inline-block;
  color: black;
  background: #43a1d5;
  padding: 7px 15px;
  border: 2px solid transparent;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.55s ease;
}

.messi-text a:hover {
  background: transparent;
  border: 2px solid #2984b7;
  transform: translateX(8px);
}

/*FOOTER*/

footer {
  align-items: center;
  background-color: #212121;
  color: #f0f0f0;
  text-align: center;
  padding: 1.5rem 0;
  margin-top: auto;
  width: 100%;
}

footer div a {
  color: #f0f0f0;
  border-left: solid white 1px;
  padding: 0 1rem;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons a {
  border-left: none;
}

.icons i {
  display: block;
  margin: 26px 0;
  font-size: 24px;
  color: white;
  transition: all 0.5s ease;
}

.icons i:hover {
  color: #71b8df;
  transform: translateY(-5px);
}

/*MEDIA QUERY RESPONSIVE */

@media (max-width: 1535px) {
  header {
    padding: 15px 3%;
    transition: 0.2s;
  }
  .messi-text {
    padding: 150px 0 75px;
  }
  .icons {
    padding: 0 3%;
    transition: 0.2s;
  }
}

@media (max-width: 1460px) {
  section {
    padding: 0 12%;
    transition: 0.2s;
  }
  .messi-text {
    padding: 150px 0 75px;
  }
}

@media (max-width: 1340px) {
  .messi-text {
    padding: 150px 0 75px;
  }
  .messi-img img {
    width: 100%;
    height: auto;
  }
  .messi-text h1 {
    font-size: 75px;
    margin: 0 0 30px;
  }
  .messi-text h5 {
    margin-bottom: 25px;
  }
}

@media (max-width: 1195px) {
  section {
    padding: 0 3%;
    transition: 0.2s;
  }
  .messi-text {
    padding-top: 115px;
  }
  .messi-img {
    text-align: center;
  }
  .messi-img img {
    width: 560px;
    height: auto;
  }
  .messi {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .footer-links {
    display: none;
  }
}

@media (max-width: 990px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 40vh;
    background: #71b8df;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all 0.55s ease;
    border: 4px solid #111;
  }
  .navlist a {
    color: #111;
    margin-left: 0;
    display: block;
    margin: 7px 0;
    margin-top: 1.5rem;
    font-size: 20px;
  }
  .navlist.open {
    right: 0;
  }
  footer {
    width: 100vh;
  }
}

@media (max-width: 680px) {
  .messi-img img {
    width: 100%;
    height: auto;
  }
  footer {
    width: 100vh;
  }
}
