.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  background: transparent;
  box-shadow: 0 10px 20px #111f;
  backdrop-filter: blur(10px);
  z-index: 999;
}

.navbarContainer .navbarLinks li a:hover,
.navbarContainer .navbarLinks li a.active {
  color: #111f;
  background: #111f;
  border: 2px solid #fff;
}

.navbarToggle {
  display: none;
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}
