* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(imagesaaa.jpg) no-repeat center center/cover;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  background: transparent;
  box-shadow: 0 10px 20px #111f;
  backdrop-filter: blur(10px);
  z-index: 999;
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  max-width: 1600px;
}

.navbarLogo {
  width: 50px;
  cursor: pointer;
}

.navbarTittle {
}

.navbarContainer .navbarLinks {
  display: flex;
  text-align: center;
  gap: 1.5rem;
  list-style: none;
}

.navbarContainer .navbarLinks li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 3px 20px;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 0.7s ease;
  white-space: nowrap;
}

.navbarContainer .navbarLinks li a:hover,
.navbarContainer .navbarLinks li a.active {
  color: #111f;
  background: #111f;
  border: 2px solid #fff;
}

.navbarToggle {
  display: none;
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: #fff;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 880px) {
  .navbar {
    backdrop-filter: none;
  }

  .navbarContainer .navbarLinks {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem !important;
    position: absolute;
    height: 100vh;
    width: 250px;
    top: 0;
    right: 0;
    padding: 5rem 1.5rem;
    box-shadow: 0 10px 10px #111f;
    backdrop-filter: blur(10px);
  }

  .navbarContainer .navbarLinks.active {
    display: flex;
  }

  .navbarToggle {
    display: block;
    z-index: 9990;
  }

  .navbarToggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbarToggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .navbarToggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (max-width: 480px) {
  .navbarContainer {
    padding: 0 1rem;
  }

  .navbarLogo {
    font-size: 1.7rem;
  }

  .navbarContainer .navbarLinks li a {
    font-size: 1.2rem;
    padding: 3px 15px;
  }
}
