/*SECTION MESSI*/
section {
  padding: 0 19%;
  height: 100%;
  width: 100%;
  min-width: 100vh;
  background: linear-gradient(245.59deg, #111 0%, #aaa 28.53%, #fff 72.52%);
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  .messi-text {
    padding: 150px 0 75px;
  }
  .messi-text h1 {
    font-family: "Gravitas One", serif;
    font-size: 90px;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    color: black;
    margin: 0 0 45px;
  }
  .messi-text h4 {
    font-size: 18px;
    font-weight: 600;
    color: #43a1d5;
    margin-bottom: 10px;
  }
  .messi-text p {
    color: black;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
  }
  .messi-img img {
    width: 700px;
    height: auto;
  }
  .messi-text a {
    display: inline-block;
    color: black;
    background: #43a1d5;
    padding: 7px 15px;
    border: 2px solid transparent;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 0.55s ease;
  }
  .messi-text a:hover {
    background: transparent;
    border: 2px solid #2984b7;
    transform: translateX(8px);
  }
}
